.logo-img{
    width: 100px;
}
.login-button{
    text-align: center;
}
button{
    width: 150px;
    height: 40px;
    font-size: large !important;
}
.div-label{
    padding-left: 20%;
    padding-right: 20%;
}
.label-text{
    font-size: larger;
    padding: 5px;
}